@{
    ViewBag.Title = "Home Page";
}




    <div class="jumbotron">
        <p><a href="@Url.Action("SaveSurvey", "Home" ) " class="btn btn-primary btn-lg">Add New Survey &raquo;</a></p>
        <p><a href="@Url.Action("GetSurvey", "Home" ) " class="btn btn-primary btn-lg">Get Survey &raquo;</a></p>
    </div>